<?xml version="1.0"?>
<config>
    <modules>
        <BC_Search>
            <version>0.1.0</version>
        </BC_Search>
    </modules>
    <frontend>
        <routers>
            <bc_search>
                <use>standard</use>
                <args>
                    <module>BC_Search</module>
                    <frontName>search</frontName>
                </args>
            </bc_search>
        </routers>
        <layout>
            <updates>
                <bcsearch module="BC_Search">
                    <file>search.xml</file>
                </bcsearch>
            </updates>
        </layout>
        <translate>
            <modules>
                <BC_Search>
                    <files>
                        <default>BC_Search.csv</default>
                    </files>
                </BC_Search>
            </modules>
        </translate>
    </frontend>

    <global>
        <blocks>
            <search>
                <class>BC_Search_Block</class>
            </search>
        </blocks>
        <helpers>
            <search>
                <class>BC_Search_Helper</class>
            </search>
        </helpers>
        <models>
            <search>
                <class>BC_Search_Model</class>
            </search>
        </models>
    </global>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <search>
                                            <title>Bluecom - Search Autocomplete</title>
                                        </search>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <BC_Search>
                    <files>
                        <default>BC_Search.csv</default>
                    </files>
                </BC_Search>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <search>
            <appearance>
                <show_max_product>4</show_max_product>
                <item_template><![CDATA[<img src="{thumbnail_url}" style="float:left; margin:3px 8px 0 0;" /><strong>{name}</strong><p style="font-size:0.9em;line-height:1.4em;margin:2px 0 0;">{short_description}</p>]]></item_template>
                <show_buttion_all>0</show_buttion_all>
                <thumbnail_size>75</thumbnail_size>
                <preloader_image></preloader_image>
            </appearance>
        </search>
    </default>

</config>